# Nunca commitear el .env original por cuestiones de la prueba brindo este ejemplo para running en local
SPRING_DATA_MONGODB_URI=mongodb://localhost:27017/franchisedb
OTLP_EXPORT_ENABLED=false
TRACING_SAMPLING_PROBABILITY=1.0
APP_LOG_LEVEL=INFO
